@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @* <p class="lead">This is a loan prediction system.</p> *@
    <p>Please login to fill up your loan application.</p>
    <a class="btn btn-dark btn-lg pl-4 pr-4" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
</div>
